.contents
  .header-user
    .header-user__logo-signup
      = link_to image_tag(src= "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3296506464", class: "mercari-logo-user", height:49, width:185), "#"
    .order-sign
      %ol
        %li.member
          会員情報
          .order-radius__red__first
        %li.phone-number
          電話番号認証
          .order-radius__red
        %li.address-red
          お届け先住所入力
          .order-radius__red
        %li.pay-method
          支払い方法
          .order-radius
        %li.complete
          完了
          .order-radius
  - @user = User.new unless @user
  = form_for(@user, url: '/signup/paymethod', method: :get ) do |f|
    .signup__address
      .signup__address-title
        住所入力
      .signup__address__box
        .signup__address__box-input
          .field
            .field-info__name
              %label{for: "nickname", class:"position"} お名前
              %span.form-require 必須
              %br
            .field-input
            = f.text_field :address_last_name, class: "input-default", autocomplete: "email", placeholder: "例）山田"
            %br
            = f.text_field :address_first_name, class: "input-default", autocomplete: "email", placeholder: "例）彩"
          .field
            .field-info__kana-name
              %label{for: "email"} お名前カナ
              %span.form-require 必須
              %br
            .field-input
            = f.text_field :address_last_name_kana, class: "input-default", autocomplete: "current-password", placeholder: "例）ヤマダ"
            %br
            = f.text_field :address_first_name_kana, class: "input-default", autocomplete: "current-password", placeholder: "例）アヤ"
        = f.fields_for :addresses do |a|
          .field
            .field-info__postcode 
              %label{for: "password"} 郵便番号
              %span.form-require 必須
              %br
            .field-input
            = a.text_field :postcode, class: "input-default", autocomplete: "", placeholder: "例) 123-4567"
          .field
            .field-info__prefecture
              %label{for: "password"} 都道府県
              %span.form-require 必須
              %br
            .field-input
            = a.collection_select :prefecture_id, Prefecture.all, :id, :name, class: "prefecture"
          .field  
            .field-info__city
              %label{for: "family_name_kanji"} 市区町村
              %span.form-require 必須
              %br
            .field-input
            = a.text_field :city, class: "input-default", autocomplete: "", placeholder: "例）横浜市緑区"
          .field
            .field-info__block
              %label{for: "family-name-katakana"} 番地
              %span.form-require 必須
              %br
            .field-input
            = a.text_field :block, class: "input-default", autocomplete: "", placeholder: "例）青山1-1-1"
          .field
            .field-info__name
              %label{for: "family-name-katakana"} 建物名
              %span.form-any 任意
              %br
            .field-input
            = a.text_field :building, class: "input-default", autocomplete: "", placeholder: "例）柳ビル103"

          .field
            .field-info__phone-number
              %label{for: "family-name-katakana"} 電話
              %span.form-any 任意
              %br
            .field-input
            = f.number_field :phone_number, class: "input-default__last", autocomplete: "", placeholder: "例）09012345678"

        .next__btn
        = f.submit '次へ進む', class:"next-btn"

  .footer-user
    %ul
      %li= link_to 'プライバシーポリシー', '#'
      %li= link_to 'メルカリ利用規約', '#'
      %li= link_to '特定商取引に関する表記', '#'
    .footer-user__link
      = link_to image_tag(src= "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3296506464", class: "mercari-graylogo", height: 80, width: 60), "#"
      %p © 2019 Mercari