.contents
  .header-user
    .header-user__logo-signup
      = link_to image_tag(src= "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3296506464", class: "mercari-logo-user", height:49, width:185), "#"
    .order-sign
      %ol
        %li.member
          会員情報
          .order-radius__red__first
        %li.phone-number-red
          電話番号認証
          .order-radius__red
        %li.address
          お届け先住所入力
          .order-radius
        %li.pay-method
          支払い方法
          .order-radius
        %li.complete
          完了
          .order-radius

  = form_for(@user, url: '/signup/address', method: :get ) do |f|
    .signup__phonepage
      .signup__phonepage-title
        電話番号の確認
      .signup__phonepage__box
        .signup__phonepage__box-input
          .field
            .field-info__cellphone-number
              %label{for: "nickname", class:"position"} 携帯電話の番号
              %span.form-require 必須
              %br
            .field-input
            = f.number_field :cellphone_number, class: "input-default", autocomplete: "email", placeholder: "携帯電話の番号を入力"
          .login__info
            本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          .next__btn
            = f.submit 'SMSを送信する', class:"next-btn" 
          .attention
            ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
          .about__user-information
            = link_to '電話番号の確認が必要な理由 〉', '#'
  .footer-user
    %ul
      %li= link_to 'プライバシーポリシー', '#'
      %li= link_to 'メルカリ利用規約', '#'
      %li= link_to '特定商取引に関する表記', '#'
    .footer-user__link
      = link_to image_tag(src= "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3296506464", class: "mercari-graylogo", height: 80, width: 60), "#"
      %p © 2019 Mercari
