.side__link
  %ul.side__link__top
    = link_to user_path(current_user.id), class:"mypage_show" do
      %li 
        .side__link__top--box
          マイページ
          = fa_icon 'angle-right'
    = link_to "" do
      %li 
        .side__link__top--box
          お知らせ
          = fa_icon 'angle-right'
    = link_to "" do
      %li 
        .side__link__top--box
          やることリスト
          = fa_icon 'angle-right'
    = link_to "" do
      %li 
        .side__link__top--box
          いいね！一覧
          = fa_icon 'angle-right'
    =link_to exhibit_items_path do
      %li 
        .side__link__top--box
          出品する
          = fa_icon 'angle-right'
    = link_to "" do
      %li 
        .side__link__top--box
          出品した商品-出品中
          = fa_icon 'angle-right'
    = link_to "" do
      %li 
        .side__link__top--box
          出品した商品-取引中
          = fa_icon 'angle-right'
    = link_to "" do
      %li 
        .side__link__top--box
          出品した商品-完済済み
          = fa_icon 'angle-right'
    = link_to "" do
      %li 
        .side__link__top--box
          購入した商品-取引中
          = fa_icon 'angle-right'
    = link_to "" do
      %li 
        .side__link__top--box
          購入した商品-過去の取引
          = fa_icon 'angle-right'
    = link_to "" do
      %li 
        .side__link__top--box
          ニュース一覧
          = fa_icon 'angle-right'
    = link_to "" do
      %li 
        .side__link__top--box
          評価一覧
          = fa_icon 'angle-right'
    = link_to "" do
      %li 
        .side__link__top--box
          ガイド
          = fa_icon 'angle-right'
    = link_to "" do
      %li 
        .side__link__top--box
          お問い合わせ
          = fa_icon 'angle-right'
  .side__link__merpay
    %h3 メルペイ
    %ul.side__link__merpaylist
      = link_to "" do
        %li 
          .side__link__top--box
            売り上げ・振込申請
            = fa_icon 'angle-right'
      = link_to "" do
        %li 
          .side__link__top--box
            ポイント
            = fa_icon 'angle-right'
  .side__link__edit
    %h3 設定
    %ul.side__link__editlist
      = link_to edit_user_path(current_user.id) do
        %li 
          .side__link__top--box
            プロフィール
            = fa_icon 'angle-right'
      = link_to edit_user_signup_path(current_user.id, @user), class:"alteraddress" do
        %li 
          .side__link__top--box
            発送元・お届け先住所変更
            = fa_icon 'angle-right'
      = link_to register_users_path(current_user.id), class:"creditcard" do
        %li 
          .side__link__top--box
            支払い方法
            = fa_icon 'angle-right'
      = link_to "" do
        %li 
          .side__link__top--box
            メール/パスワード
            = fa_icon 'angle-right'
      = link_to edit_user_confirmation_path(current_user.id, @user), class:"edituser" do
        %li 
          .side__link__top--box
            本人情報
            = fa_icon 'angle-right'
      = link_to sms_confirmation_users_path, class:"sms_confirmation" do
        %li 
          .side__link__top--box
            電話番号
            = fa_icon 'angle-right'
      = link_to log_out_users_path(current_user.id), class: "logout" do
        %li 
          .side__link__top--box
            = fa_icon 'angle-right'
            ログアウト
           