.edit
  = render 'items/header'
  - breadcrumb :profile
  = breadcrumbs separator: " &rsaquo; "
  .main
    = render 'sideber'
    = form_with model: @user, local: true  do |f|
      .edit__profile
        .edit__profile--profile
          プロフィール
          .edit__profile--user
            .edit__profile--user--box
              = f.label :avatar, class: "edit__profile--user--box--image" do
                = image_tag 'https://image.flaticon.com/icons/png/512/97/97895.png', class: "edit__profile--user--box--image--in"
                = f.file_field :avatar, class: 'edit__profile--user--box--image--in--hidden'
              = f.text_field :nickname, class: "edit__profile--user--box--nickname",placeholder: 'ニックネームを入力(必須)'
          = f.text_area :introduction, class: "edit__profile--text", placeholder: '買ったばかりのため比較的きれいです'
          = f.submit '変更する', class: "edit__profile--submit"
  = render 'item__exhibit'
  = render 'items/footer'