= render 'items/header'
- breadcrumb :log_out
= breadcrumbs separator: " &rsaquo; "

-# サーバー実装次第form_for(deleteメソッド)
.wrapper
  .main
    = render 'sideber'
    .contents
      .top--content      
        = link_to destroy_user_session_path, method: :delete, class: "logout" do  
          .log-out__button.button ログアウト
        
  = render 'item__exhibit'
  = render 'items/footer'
