.contents
  .header-user
    .header-user__logo-default
      = link_to image_tag(src= "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3296506464", class: "mercari-logo", height:49, width:185), "#"
  .main-user
    .main-user__box
      .main-user__box__title
        新規会員登録
      .main-user__box__btns
        .main-user__box__btn
        =link_to member_signup_index_path, class: "main__box__btn main__box__btn--email" do
          = fa_icon 'envelope', class: "main__box__btn--icon"
          メールアドレスで登録する
        .main-user__box__btn
        =link_to user_facebook_omniauth_authorize_path, class: "main__box__btn main__box__btn--facebook" do
          = fa_icon 'facebook-square', class: "main__box__btn--icon"
          Facebookで登録する
        .main-user__box__btn
        =link_to user_google_oauth2_omniauth_authorize_path, class: "main__box__btn main__box__btn--google" do
          = fa_icon 'google', class: "main__box__btn--icon"
          Googleで登録する
  .footer-user
    %ul
      %li= link_to 'プライバシーポリシー', '#'
      %li= link_to 'メルカリ利用規約', '#'
      %li= link_to '特定商取引に関する表記', '#'
    .footer-user__link
    = link_to image_tag(src= "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3296506464", class: "mercari-graylogo", height: 80, width: 60), "#"
    %p © 2019 Mercari