=render '/items/header'
- breadcrumb :item_soldout
= breadcrumbs separator: " &rsaquo;"
.users-exhibit-wrapper
  .user-exhibit-main
    = render 'sideber'
    .user-exhibit-content
      .message
        .message-title
          %h3 出品した商品
        %ul.mypage__tabs
          %li#exhibiting
            = link_to '出品中', 'exhibit'
          %li#trading
            = link_to '取引中', 'trading'
          %li#soldout.tag__changed  売却済み
        .message__content
          %ul.message__content__tab.soldout.active
            - if @items_purchase.present?
              - @items.each do |item|
                - if item.purchase == "soldout"
                  %li
                    =link_to "/items/#{item.id}" do
                      .message__tab__image
                        =image_tag "#{item.images.first.image}", height:"48",width:"48"
                      .message__tab__body
                        .message__tab__body__text
                          =item.title
                        .message__tab__body__time
                          .message__tab__body__time__icon
                            %p.soldout-p 売却済
                      .message__tab__icon
                        %i.fa.fa-chevron-right
            - else
              %li.message__content__tab__list
                = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3296506464", size: "180"
                %p 売却済の商品はありません
= render 'item__exhibit'
= render 'items/footer'
