.search
  .search-container
    .search-left
      = render 'items/header'
      .search-right
        %section.items-box-container
          -if @search.present?
            %h2.search-result-head
              =@search
              %span.search-result-head-text
                の検索結果
            .search-result-number
              ="1-#{@items.count}件表示"
          -else
            %h2.search-result-nil
              新着商品
          .items-box-contents
          - @items.each do |item|
            = link_to "#" do
              .item-box.jojo
                .item-box__image
                  = image_tag "#{item.images.first.image}", :size =>'185x180'
                .item-box__title__price
                  ="¥"+item.price.to_s(:delimited)
              .item-box__title
                %h3=item.title
                .item-box__title__icon
              -# .items-box-contenttt
              -#   = image_tag "#{item.images.first.image}", :size =>'185x180'
              -#   %p.searchhh 
              -#     = "¥#{item.price}"

              -# .items-box-content-text
              -#   = item.title
      = render 'items/footer'
        