.footer
  
  .footer__downroad
    .footer__downroad__left
      .footer__downroad__left__top
        スマホでかんたんフリマアプリ
      .footer__downroad__left__middle
        今すぐ無料ダウンロード!
      .footer__downroad__left__bottom
        = link_to image_tag "mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png",class: "merucari-icon"
        = link_to image_tag "app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg",class: "store-icon"
        = link_to image_tag "google-play-495575abb895b405aa6336b2a4304958.svg",class: "store-icon"
    .footer__downroad__right
      = image_tag "download_app_pc-a4418175e8be071827ac88d073f40e4a.png",{class: "z"}

  .footer__guide
    .footer__guide__top
      .footer__guide__top__about
        %p.about メルカリについて
        %p.about2 会社概要（運営会社）
        %p.about2 採用情報
        %p.about2 プレスリリース
        %p.about2 公式ブログ
        %p.about2 メルカリロゴ利用ガイドライン
        %i.fab.fa-twitter.fa-2x
        %i.fab.fa-facebook-square.fa-2x
      .footer__guide__top__help
        %p.about ヘルプ＆ガイド
        %p.about2 メルカリガイド
        %p.about2 らくらくメルカリ便
        %p.about2 ゆうゆうメルカリ便
        %p.about2 大型メルカリ便
        %p.about2 車体取引ガイド
        %p.about2 メルカリ安心安全宣言！
        %p.about2 偽ブランド品撲滅の取り組み
      .footer__guide__top__privacy__1
        %p.about プライバシーと利用規約
        %p.about2 プライバシーポリシー
        %p.about2 メルカリ利用規約
        %p.about2 あんしんスマホサポート制度に関する利用特約
        %p.about2 コンプライアンスポリシー
      .footer__guide__top__privacy__2  
        %p.about2 個人データの安全管理に係る基本方針
        %p.about2 特定商取引に関する表記
        %p.about2 資金決済法に基づく表示
        %p.about2 法令順守と犯罪抑止のために
      .footer__guide__top__country
        %p.about 国
        %p.about2 日本
        %p.about2 UnitedStates
    .footer__guide__bottom
      = image_tag "logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg",{class: "q"}
      %div © 2019 Mercari 