.footer
  .footer__downroad
    .footer__downroad__left
      .footer__downroad__left__top
        スマホでかんたんフリマアプリ
      .footer__downroad__left__middle
        今すぐ無料ダウンロード!
      .footer__downroad__left__bottom
        = link_to image_tag "mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png"
        = link_to image_tag "app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"
        = link_to image_tag "google-play-495575abb895b405aa6336b2a4304958.svg" 
    .footer__downroad__right
      = image_tag "download_app_pc-a4418175e8be071827ac88d073f40e4a.png",{class: "z"}

  .footer__guide
    .footer__guide__top
      .footer__guide__top__about
        %p メルカリについて
        %h6 会社概要（運営会社）
        %h6 採用情報
        %h6 プレスリリース
        %h6 公式ブログ
        %h6 メルカリロゴ利用ガイドライン
        %i.fab.fa-twitter.fa-2x
        %i.fab.fa-facebook-square.fa-2x
      .footer__guide__top__help
        %p ヘルプ＆ガイド
        %h6 メルカリガイド
        %h6 らくらくメルカリ便
        %h6 ゆうゆうメルカリ便
        %h6 大型メルカリ便
        %h6 車体取引ガイド
        %h6 メルカリ安心安全宣言！
      .footer__guide__top__privacy__1
        %p プライバシーと利用規約
        %h6 プライバシーポリシー
        %h6 メルカリ利用規約
        %h6 あんしんスマホサポート制度に関する利用特約
        %h6 コンプライアンスポリシー
      .footer__guide__top__privacy__2  
        %h6 個人データの安全管理に係る基本方針
        %h6 特定商取引に関する表記
        %h6 資金決済法に基づく表示
        %h6 法令順守と犯罪抑止のために
      .footer__guide__top__country
        %p 国
        %h6 日本
        %h6 UnitedStates
    .footer__guide__bottom
      = image_tag "logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg",{class: "q"}
      %div © 2019 Mercari 