.detail__box
  .detail__box__title
    = @item.title
  .detail__box__items
    .detail__box__items__photo
      .detail__box__items__photo__big
        = image_tag "#{@item.images.first.image}", class: "detail__box__items__photo__big--in"
      .detail__box__items__photo__mini
        - @item.images.each do |item|
          .detail__box__items__photo__mini--1
            = image_tag "#{item.image}" , class: "detail__box__items__photo__mini--1--in"
    %table.detail__box__items__detail
      %tr.detail__box__items__detail__exhibitor
        %th.detail__box__items__detail__exhibitor--right
          出品者
        %td.detail__box__items__detail__exhibitor--left
          %li
            = link_to @item.user.nickname
          %li
            = fa_icon "cog"
            0
            = fa_icon "cog"
            0
            = fa_icon "cog"
            0
      %tr.detail__box__items__detail__category
        %th.detail__box__items__detail__category--right
          カテゴリー
        %td.detail__box__items__detail__category--left
          %li
            = link_to () do
              = @item.category.root.name
          %li
            = link_to () do
              = @item.category.parent.name
          %li
            = link_to () do
              = @item.category.name
          
      %tr.detail__box__items__detail__brand
        %th.detail__box__items__detail__brand--right
          ブランド
        %td.detail__box__items__detail__brand--left
          = @item.brand.name if @item.brand_id.present?
      - if @item.sizetype_id.present?
        %tr.detail__box__items__detail__size
          %th.detail__box__items__detail__size--right
            サイズ
          %td.detail__box__items__detail__size--left 
            = @item.sizetype.sizetype if @item.sizetype_id.present?
      %tr.detail__box__items__detail__status
        %th.detail__box__items__detail__status--right
          商品の状態
        %td.detail__box__items__detail__status--left 
          = @item.status.name
      %tr.detail__box__items__detail__postage
        %th.detail__box__items__detail__postage--right
          配送料の負担 
        %td.detail__box__items__detail__postage--left
          = @item.delivery.deliveryfee.name
      %tr.detail__box__items__detail__method
        %th.detail__box__items__detail__method--right
          配送の方法
        %td.detail__box__items__detail__method--left
          = @item.delivery.deliverymethod.name
      %tr.detail__box__items__detail__area
        %th.detail__box__items__detail__area--right
          配送元の地域
        %td.detail__box__items__detail__area--left
          = link_to @item.delivery.deliverysource.name
      %tr.detail__box__items__detail__date
        %th.detail__box__items__detail__date--right
          配送日の目安
        %td.detail__box__items__detail__date--left
          = @item.delivery.deliverydate.name
  .detail__box__price
    .detail__box__price__box
      %span.detail__box__price__box__price
        ¥
        = @item.price.to_s(:delimited)
      %span.detail__box__price__box__tax
        (税込)
      %span.detail__box__price__box__postage
        - if @item.delivery.deliveryfee_id == 1
          送料込み
        - if @item.delivery.deliveryfee_id == 2
          着払い
  - unless user_signed_in? && item.user_id == current_user.id then
    .detail__box__money
    %input.detail__box__btn{type: 'submit', value: '購入画面に進む'}
  .detail__box__explanation
    = @item.explanation
  - unless user_signed_in? && item.user_id == current_user.id then
    .detail__box__icon
      =  link_to item_goods_path(@item) do
        .detail__box__icon--good
          = fa_icon "heart"
          いいね! 
          = @item.goods.count
      = link_to "" do
        .detail__box__icon--warning
          = fa_icon "flag"
          不適切な商品の報告
      = link_to "" do
        .detail__box__icon--safety
          = fa_icon "lock"
          あんしん・あんぜんへの取り組み