#search-side-ber
  .search-side-box
    = search_form_for(@search, url: search_items_path) do |f|
      .search-sort
        = f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc', 'いいね!の多い順': 'goods_count desc' } , { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'} )
      .search-content
        %h3 詳細検索
        .search-content__keyword
          %label
          %span キーワードを追加する
          = f.search_field :title_cont
        .search-content__category
          %label
            %span カテゴリーを選択する
          = f.collection_select :category_id, @category, :id, :name, prompt: "すべて"
          %select{class:"category_children", style: "display, none"}
          .search-content__category__select
            %input{type:"hidden", name:"q[category_id_in][]", value:""}

        .search-content__brand
          %label
            %span ブランド名から探す
          %input{name:"q[brand_id_eq]", value:"",type:"hidden", class:"brand_choice"}
          %input{placeholder: "例) シャネル", value:"",class:'search-content__brand-area'}
          %div.brands_area
            %ul.brand_area

        .search-content__sizetype
          %label
            %span サイズを指定する
          = f.collection_select :sizetype_id, @sizetype, :id, :sizetype, prompt: "---"
          .search-content__sizetype__select
            %input{type:"hidden", name:"q[sizetype_id_in][]", value:""}

        .search-content__price
          %label
            %span 価格
          .search-content__price__select
          .search-content__price__sub-select
            = f.text_field 'price_gteq', placeholder: "MIN"
            %span 〜
            = f.text_field 'price_lteq', placeholder: "MAX"

        .search-content__status
          %label
            %span 商品の状態
          .search-content__status__select
            %input{type:"hidden", name:"q[status_id_in][]", value:""}
            - @status.each do |status|
              .status__select
                %input{type:"checkbox", value:"#{status.id}", name:"q[status_id_in][]", id:"q_status_id_in_#{status.id}"}
                %label{for:"q_status_id_in_#{status.id}"}="#{status.name}"
        
        .search-content__delivery-fee
          %label
            %span 配送料の負担
          .search-content__delivery-fee__select
            %input{type:"hidden", name:"q[delivery_id_in][]", value:""}
            .delivery__select
              %input{type:"checkbox", value:"1", name:"q[delivery_id_in][]", id:"q_delivery_id_in_1"}
              %label{for:"q_delivery_id_in"}送料込み（出品者負担）
            .delivery__select
              %input{type:"checkbox", value:"2", name:"q[delivery_id_in][]", id:"q_delivery_id_in_2"}
              %label{for:"q_delivery_id_in"}着払い（購入者負担）

        .search-content__button
          .clear__button クリア
          .submit__button
            =f.submit '完了'