= render 'header'
.content
  .content__all
    .content__all__scrol
      .content__all__scrol__bar
        .content__all__scrol__bar__slider
          = image_tag "himawari04.jpg", class: "scroll1"
          = image_tag "download_app_bg-b57d6f1a32f2aebd89cf6f43bc2e4b39.jpg", class: "scroll2"
          = image_tag "index_keyvisual.png", class: "scroll3"
        .content__all__scrol__bar__left
          <
        .content__all__scrol__bar__right
          >
        .content__all__scrol__bar__bottom
          oo
    .content__all__popular__category
      .content__all__popular__category__title
        人気のカテゴリー
      .content__all__popular__category__links

        = link_to "レディース",(),class:"lists"

        = link_to "メンズ",(),class: "lists"

        = link_to "家電・スマホ・カメラ",(),class: "lists"

        = link_to "オモチャ・ホビー・グッズ",(),class: "lists"
    .content__all__category__list 
      .content__all__category__list__rady
        .content__all__category__list__rady__new
          .content__all__category__list__rady__new__left
            レディース新着アイテム
          .content__all__category__list__rady__new__right
            = link_to "もっと見る >","#"
        .content__all__category__list__rady__items
          .content__all__category__list__rady__items__1
            - @items.each do |item|
              = link_to "#" do
                .content__all__category__list__rady__items__1__ima


                  = image_tag "#{item.images.first.image}", :size =>'185x180'
                  %p
                    = "¥#{item.price}"

                  .content__all__category__list__rady__items__1__text
                    = item.title


      .content__all__category__list__men
        .content__all__category__list__men__new
          .content__all__category__list__men__new__left
            メンズ新着アイテム
          .content__all__category__list__men__new__right
            = link_to "もっと見る >","#"
        .content__all__category__list__men__items
          .content__all__category__list__men__items__1
            - @items.each do |item|

              = link_to "#" do
                .content__all__category__list__men__items__1__ima
                  = image_tag "#{item.images.first.image}", :size =>'185x180'
                  %p 

                    = "¥#{item.price}"
                  .content__all__category__list__men__items__1__text
                    = item.title

      .content__all__category__list__mecha
        .content__all__category__list__mecha__new
          .content__all__category__list__mecha__new__left
            家電・スマホ・カメラ新着アイテム
          .content__all__category__list__mecha__new__right
            = link_to "もっと見る >","#"
        .contnet__all__category__list__mecha__items
          .content__all__category__list__mecha__items__1
            - @items.each do |item|

              = link_to "#" do
                .content__all__category__list__mecha__items__1__ima
                  = image_tag "#{item.images.first.image}", :size =>'185x180'
                  %p

                    = "¥#{item.price}"

                  .content__all__category__list__mecha__items__1__text
                    = item.title


      .content__all__category__list__hobby
        .content__all__category__list__hobby__new
          .content__all__category__list__hobby__new__left
            オモチャ・ホビー・グッズ新着アイテム
          .content__all__category__list__hobby__new__right
            = link_to "もっと見る >","#"
        .content__all__category__list__hobby__items
          .content__all__category__list__hobby__items__1
            - @items.each do |item|

              = link_to "#" do
                .content__all__category__list__hobby__items__1__ima
                  = image_tag "#{item.images.first.image}", :size =>'185x180'
                  %p

                    = "¥#{item.price}"
                  .content__all__category__list__hobby__items__1__text
                    = item.title


    .content__all__popular__brand
      .content__all__popular__brand__title
        人気のブランド
      .content__all__popular__brand__links
        
        = link_to "シャネル",(),class:"lists"
        = link_to "ルイ・ヴィトン",(),class:"lists"
        = link_to "シュプリーム",(),class:"lists"
        = link_to "ナイキ",(),class:"lists"
    .content__all__brand__list
      .content__all__brand__list__chanel
        .content__all__brand__list__chanel__new
          .content__all__brand__list__chanel__new__left
            シャネル新着アイテム
          .content__all__brand__list__chanel__new__right
            = link_to "もっと見る >","#"
        .content__all__brand__list__chanel__items 
          .content__all__brand__list__chanel__items__1 
            - @items.each do |item|

              = link_to "#" do
                .content__all__brand__list__chanel__items__1__ima
                  = image_tag "#{item.images.first.image}", :size =>'185x180'
                  %p

                    = "¥#{item.price}"
                  .content__all__brand__list__chanel__items__1__text
                    = item.title 

      
      .content__all__brand__list__viton
        .content__all__brand__list__viton__new
          .content__all__brand__list__viton__new__left
            ヴィトン新着アイテム
          .content__all__brand__list__viton__new__right
            = link_to "もっと見る >","#"
        .content__all__brand__list__viton__items  
          .content__all__brand__list__viton__items__1  
            - @items.each do |item|
              = link_to "#" do
                .content__all__brand__list__viton__items__1__ima
                  = image_tag "#{item.images.first.image}", :size =>'185x180'
                  %p
                    = "¥#{item.price}"
                  .content__all__brand__list__viton__items__1__text
                    = item.title        

  
      .content__all__brand__list__supreme
        .content__all__brand__list__supreme__new
          .content__all__brand__list__supreme__new__left
            シュプリーム新着アイテム
          .content__all__brand__list__supreme__new__right
            = link_to "もっと見る >","#"
        .content__all__brand__list__supreme__items  
          .content__all__brand__list__supreme__items__1  
            - @items.each do |item|

              = link_to "#" do
                .content__all__brand__list__supreme__items__1__ima
                  = image_tag "#{item.images.first.image}", :size =>'185x180'
                  %p
                    = "¥#{item.price}"

                  .content__all__brand__list__supreme__items__1__text
                    = item.title  

      .content__all__brand__list__nike
        .content__all__brand__list__nike__new
          .content__all__brand__list__nike__new__left
            ナイキ新着アイテム
          .content__all__brand__list__nike__new__right
            = link_to "もっと見る >","#"
        .content__all__brand__list__nike__items
          .content__all__brand__list__nike__items__1 
            - @items.each do |item|

              = link_to "#" do
                .content__all__brand__list__nike__items__1__ima

                  = image_tag "#{item.images.first.image}", :size =>'185x180'
                  %p
                    = "¥#{item.price}"

                  .content__all__brand__list__chanel__items__1__text
                    = item.title 

= render 'footer'


