.background
  = render 'header'
  .detail
    = render 'items_detail'
    = render 'comment'
    .detail__link
      .detail__link--left
        = link_to "＜未使用☆Cartier カルティエ 二つ折り 財布"
      .detail__link--right
        = link_to "マイワリサ mywarisa 35 21.9 バレエシューズ＞"
    .detail__icon
      .detail__icon__box
        .detail__icon__box--facebook
          = fa_icon "facebook-square"
        .detail__icon__box--twitter
          = fa_icon "twitter"
        .detail__icon__box--pinterest
          = fa_icon "pinterest"
    .detail__otheritems
      .detail__otheritems__head
        = link_to "へっくしゅんさんのその他の出品"
      .detail__otheritems__mass
        - for num in 1..6 do
          .detail__otheritems__mass__one
            .detail__otheritems__mass__one--photo
              = image_tag "https://collabo-cafe.com/wp-content/uploads/e2c3bbcff17c45596973bdb422cc44b1.jpg", class: "detail__otheritems__mass__one--photo--in"
            .detail__otheritems__mass__one--explanation
              .detail__otheritems__mass__one--explanation--name
                東京喰種
              .detail__otheritems__mass__one--explanation--price
                ¥400円
    .detail__samecategory
      .detail__samecategory__head
        = link_to "バッジ （おもちゃ・ホビー・グッズ） その他の商品"
      .detail__samecategory__mass
        - for num in 1..6 do
          .detail__samecategory__mass__one
            .detail__samecategory__mass__one--photo
              = image_tag "https://images-na.ssl-images-amazon.com/images/I/41D7VAfRQ%2BL._SX356_BO1,204,203,200_.jpg", class: "detail__samecategory__mass__one--photo--in"
            .detail__samecategory__mass__one--explanation
              .detail__samecategory__mass__one--explanation--name
                僕らはみんな河合荘
              .detail__samecategory__mass__one--explanation--price
                ¥400
  = render 'users/item__exhibit'
  = render 'footer'

