.background
  = render 'header'
  .detail
    = render 'items_detail'
    -# - if user_signed_in? && item.user_id == current_user.id
    .edittt
      = link_to edit_item_path do
        .edittt__red-btn
          編集
      .edittt__or
        or
      %input.edittt__stop-btn{type: 'submit', value: '出品を一旦停止する'}
      = link_to item_path(@item), method: :delete, data: { confirm: '確認削除すると二度と復活できません。削除する代わりに停止することもできます。本当に削除しますか？' } do
        .edittt__delete-btn
          この商品を削除する
    = render 'comment'
    .detail__link
      .detail__link--left
        = link_to "＜未使用☆Cartier カルティエ 二つ折り 財布"
      .detail__link--right
        = link_to "マイワリサ mywarisa 35 21.9 バレエシューズ＞"
    .detail__icon
      .detail__icon__box
        .detail__icon__box--facebook
          = fa_icon "facebook-square"
        .detail__icon__box--twitter
          = fa_icon "twitter"
        .detail__icon__box--pinterest
          = fa_icon "pinterest"
    .detail__otheritems
      .detail__otheritems__head
        = link_to "#{@item.user.nickname}さんのその他の出品"
      .detail__otheritems__mass
        - @user.each do |item|
          .detail__otheritems__mass__one
            .detail__otheritems__mass__one--photo
              = image_tag "#{item.images.first.image}", class: "detail__otheritems__mass__one--photo--in"
            .detail__otheritems__mass__one--explanation
              .detail__otheritems__mass__one--explanation--name
                = "#{item.title}"
              .detail__otheritems__mass__one--explanation--price
                ¥
                = "#{item.price}"
    .detail__samecategory
      .detail__samecategory__head
        = link_to "#{@item.category.name} (#{@item.category.parent.name}) その他の商品"
      .detail__samecategory__mass
        - @category.each do |category|
          .detail__samecategory__mass__one
            .detail__samecategory__mass__one--photo
              = image_tag "", class: "detail__samecategory__mass__one--photo--in"
            .detail__samecategory__mass__one--explanation
              .detail__samecategory__mass__one--explanation--name
                = "#{category.title}"
              .detail__samecategory__mass__one--explanation--price
                ¥
                = "#{category.price}"
  = render 'users/item__exhibit'
  = render 'footer'

